.ant-breadcrumb ol {
  display: flex;
  align-items: center;
  font-size: 24px;
}

.ant-breadcrumb ol > li:hover {
  cursor: pointer;
}

.ant-breadcrumb ol > li a:hover {
  background-color: transparent;
}

.ant-breadcrumb ol > li:last-child a {
  color: #000;
}

.AddCategoryForm__row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

.AddCategoryForm__group {
  display: flex;
  flex-direction: column;
  width: 49%;
  position: relative;
}

.AddCategoryForm__input {
  margin-top: 4px;
  height: 50px;
  min-width: 280px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #e8ebed;
  padding: 10px 15px;
}

.AddCategoryForm__input:focus {
  outline: none;
  border: 1px solid #1d242e;
}

.AddCategoryForm__WidthFull {
  width: 100%;
}

.AddCategoryForm__textarea {
  width: 100%;
  margin-top: 4px;
  min-width: 280px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #e8ebed;
  padding: 10px 15px;
  resize: none;
}

.AddCategoryForm__textarea:focus {
  outline: none;
  border: 1px solid #1d242e;
}

.AddCategoryForm__uploadBtn {
  width: 100%;
  height: 300px;
  border-radius: 4px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
}

.AddCategoryForm__groupButton {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AddCategoryForm__submitBtn {
  width: 49%;
  height: 50px;
  border-radius: 4px;
  background-color: #1d242e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.AddCategoryForm__cancelBtn {
  width: 49%;
  height: 50px;
  border-radius: 4px;
  background-color: #e8ebed;
  color: #1d242e;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
