.adminLogin__Input:-webkit-autofill,
.adminLogin__Input:-webkit-autofill:hover,
.adminLogin__Input:-webkit-autofill:focus,
.adminLogin__Input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
  caret-color: #fff;
}

@keyframes zoomBackground {
  0% {
    background-size: 100% 100%;
    background-position: center;
  }
  50% {
    background-size: 105% 105%;
    background-position: center;
  }
  100% {
    background-size: 100% 100%;
    background-position: center;
  }
}

.moving-background {
  animation: zoomBackground 15s linear infinite alternate;
}
