@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
html {
  height: 100%;
  line-height: 1.2;
}

* {
  font-family: 'Poppins', sans-serif;
}

/* ant breadcrumb css */
.ant-breadcrumb ol {
  display: flex;
  align-items: center;
  font-size: 24px;
}
.ant-breadcrumb ol > li:hover {
  cursor: pointer;
}
.ant-breadcrumb ol > li a:hover {
  background-color: transparent;
}
.ant-breadcrumb ol > li:last-child a {
  color: #000;
}

/* ant Tree select css */
.ant-select-tree-treenode.ant-select-tree-treenode-switcher-open.ant-select-tree-treenode-selected
  > .ant-select-tree-node-selected
  > span,
.ant-select-tree-treenode.ant-select-tree-treenode-switcher-close.ant-select-tree-treenode-selected
  > .ant-select-tree-node-selected
  > span {
  color: #1d242e;
  font-weight: 600;
}

/* DatePicker css */
.ant-picker-cell-inner:hover {
  color: #ffffff;
  background-color: #008f99 !important;
}
/* Custom cursor for disabled dates */
.ant-picker-dropdown .ant-picker-cell-disabled {
  pointer-events: auto;
}
.ant-picker-dropdown .ant-picker-cell-disabled {
  cursor: not-allowed;
}
.ant-picker-dropdown .ant-picker-cell-disabled:active {
  cursor: not-allowed;
  pointer-events: none;
}
.ant-picker-dropdown .ant-picker-cell-disabled .ant-picker-cell-inner:hover {
  background-color: transparent !important;
  color: #1d242e !important;
}

/* ant pagination css */
/* ant pagination item css */
.ant-pagination-item.ant-pagination-item-active {
  color: #008f99;
  border: 1px solid #008f99;
}
.ant-pagination-item.ant-pagination-item-active {
  color: #008f99;
  border: 1px solid #008f99;
}
.ant-pagination-item.ant-pagination-item-active:focus,
.ant-pagination-item.ant-pagination-item-active:hover,
.ant-pagination-item.ant-pagination-item-active:active {
  color: #008f99;
  border: 1px solid #008f99;
}
.ant-pagination-item.ant-pagination-item-active > a,
.ant-pagination-item.ant-pagination-item-active:hover > a {
  color: #008f99;
}

/* ant pagination option css */
.ant-pagination-options
  .ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(
    .ant-pagination-size-changer
  ):hover
  .ant-select-selector {
  border: 1px solid #008f99;
}
.ant-pagination-options
  .ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer)
  .ant-select-selector {
  border: 1px solid #008f99;
}
.ant-select-item.ant-select-item-option:hover,
.ant-select-item.ant-select-item-option:active,
.ant-select-item.ant-select-item-option:focus,
.ant-select-item.ant-select-item-option.ant-select-item-option-selected {
  background-color: rgb(0, 143, 153, 0.3);
}

/* ant dropdown menu item css */
.ant-dropdown-menu-item.ant-dropdown-menu-item-only-child {
  padding: 0 !important;
}

.ant-dropdown-menu-item.ant-dropdown-menu-item-only-child span a,
.ant-dropdown-menu-item.ant-dropdown-menu-item-only-child span button {
  padding: 5px 12px !important;
}

/* Quill Editor CSS */
.ql-container.ql-snow {
  border: none !important;
}

.ql-container {
  flex: 1;
  min-height: 50%;
}

.ql-toolbar.ql-snow {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid #e8ebed;
}

.ql-editor {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.ql-picker.ql-font {
  .ql-picker-item {
    font-size: 0;
    &:before {
      content: attr(data-value) !important;
      font-size: 14px;
    }
  }
}

.ql-picker.ql-font {
  .ql-active {
    &:before {
      content: attr(data-value) !important;
      font-size: 14px;
    }
  }
}

.ql-picker.ql-font .ql-picker-label[data-value='Montserrat']::before,
.ql-picker.ql-font .ql-picker-item[data-value='Montserrat']::before {
  font-family: 'Montserrat', cursive;
  content: 'Montserrat' !important;
}

.ql-picker.ql-font .ql-picker-label[data-value='Arial']::before,
.ql-picker.ql-font .ql-picker-item[data-value='Arial']::before {
  font-family: 'Arial', sans-serif, cursive;
  content: 'Arial' !important;
}

.ql-picker.ql-header .ql-picker-label[data-label='Normal']::before {
  content: 'A/a' !important;
}

.ql-editor strong {
  font-weight: bold;
}

.ql-editor h1 {
  font-size: 2rem;
  font-family: 'Arial', sans-serif !important;
  font-weight: bold !important;
}

.ql-editor h2 {
  font-size: 1.5rem;
  font-weight: bold !important;
  font-family: 'Arial', sans-serif !important;
}

.ql-editor h3 {
  font-size: 1.17rem;
  font-weight: bold !important;
  font-family: 'Arial', sans-serif !important;
}

.ql-editor h4 {
  font-size: 1rem;
  font-weight: bold !important;
  font-family: 'Arial', sans-serif !important;
}

.ql-editor h5 {
  font-size: 0.83rem;
  font-weight: bold !important;
  font-family: 'Arial', sans-serif !important;
}

.ql-editor h6 {
  font-size: 0.67rem;
  font-weight: bold !important;
  font-family: 'Arial', sans-serif !important;
}

.ql-editor p {
  font-size: 1rem;
  font-family: 'Arial', sans-serif;
}

.ql-editor img {
  display: inline-block;
}

.ql-editor a {
  color: #2567a5;
  text-decoration: underline;
  font-size: 1rem; /* 16px */
  cursor: pointer;
}

.ql-editor .ql-font-Montserrat {
  font-family: 'Montserrat' !important;
}

.ql-editor .ql-font-Arial {
  font-family: 'Arial', sans-serif !important;
}

.ql-editor .ql-size-huge {
  font-size: 1.5rem !important; /* 24px */
}
.ql-editor b {
  font-weight: bold !important;
}

.ql-editor .ql-size-large {
  font-size: 1.25rem !important; /* 20px */
}

.ql-editor .ql-size-small {
  font-size: 0.75rem !important; /* 12px */
}

.ql-editor .ql-size-normal {
  font-size: 1rem !important; /* 16px */
}

.ql-editor .ql-align-center {
  text-align: center !important;
}

.ql-editor .ql-align-justify {
  text-align: justify !important;
}

.ql-editor .ql-align-right {
  text-align: right !important;
}

.ql-editor .ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 3em;
}
.ql-editor .ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 6em;
}
.ql-editor .ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 9em;
}
.ql-editor .ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 12em;
}
.ql-editor .ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 15em;
}
.ql-editor .ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 18em;
}
.ql-editor .ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 21em;
}
.ql-editor .ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 24em;
}

.ql-editor .custom-blockquote {
  width: 100%;
  margin: 0 auto 0 0 !important;
  border-left: 4px solid #ccc !important;
  padding: 0 1.875rem 0 1.25rem !important;
  color: #555555;
}

:root {
  --font-size: 1rem;
  --font-family: Arial, sans-serif;
  --color: #000000;
  --background-color: #ffffff;
  --font-weight: normal;
  --font-style: normal;
}

.ql-editor .custom-list-item,
.ql-editor .custom-list-item li,
.ql-editor .custom-list-item li::before {
  font-size: var(--font-size);
  font-family: var(--font-family);
  color: var(--color);
  background-color: var(--background-color);
  font-weight: var(--font-weight);
  font-style: var(--font-style);
}
